<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

  <?define UpgradeCode="{625CE7F7-9EE7-45F4-BD1B-27D402877C96}" ?>
  <?define ProductVersion="2.0.0.0" ?>
  <?define ProductName="HelloWorld" ?>
  <?define Manufacturer="ACME" ?>

  <Bundle
    Name           = "$(var.ProductName)"
    Version        = "$(var.ProductVersion)"
    Manufacturer   = "$(var.Manufacturer)"
    UpgradeCode    = "$(var.UpgradeCode)"
    IconSourceFile = "..\..\Assets\Icon.ico"
    >

    <BootstrapperApplication SourceFile="$(var.Bootstrapper.TargetFileName)">
      <Payload SourceFile="!(bindpath.Bootstrapper)\mbanative.dll"/>
      <Payload SourceFile="!(bindpath.Bootstrapper)\WixToolset.BootstrapperApplicationApi.dll" />
    </BootstrapperApplication>

    <Log Prefix =".\$(var.ProductName)_$(var.ProductVersion)" Extension="log" />
    <Variable Name="SampleOption" Type="string" Value="" />

    <Chain>
      <MsiPackage
        Id                = "HW.Install"
        SourceFile        = "..\..\Assets\HelloWorldPackage.msi"
        Visible           = "no"
        Compressed        = "no"
        DisplayName       = "$(var.ProductName)"
        Description       = "Demo app"
        Vital             = "yes"
        bal:PrereqPackage = "yes"
        >
        <MsiProperty Name='SAMPLE' Value='[SampleOption]'/>
      </MsiPackage>
    </Chain>

  </Bundle>
</Wix>
