<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

  <?define UpgradeCode="{625CE7F7-9EE7-45F4-BD1B-27D402877C96}" ?>
  <?define ProductVersion="2.0.0.0" ?>
  <?define ProductName="HelloWorld" ?>
  <?define Manufacturer="ACME" ?>

  <Bundle
    Name           = "$(var.ProductName)"
    Version        = "$(var.ProductVersion)"
    Manufacturer   = "$(var.Manufacturer)"
    UpgradeCode    = "$(var.UpgradeCode)"
    IconSourceFile = "..\..\Assets\Icon.ico"
    >

    <Variable Name="InstallFolder" Type="formatted" Persisted="yes" Value="[ProgramFilesFolder]$(var.Manufacturer)\$(var.ProductName)" />

    <BootstrapperApplication SourceFile="$(var.Bootstrapper.TargetFileName)">
      <Payload SourceFile="!(bindpath.Bootstrapper)\mbanative.dll"/>
      <Payload SourceFile="!(bindpath.Bootstrapper)\WixToolset.BootstrapperApplicationApi.dll" />
    </BootstrapperApplication>

    <Log Prefix =".\$(var.ProductName)_$(var.ProductVersion)" Extension="log" />

    <Chain>
      <MsiPackage Compressed="no" SourceFile="MsiPackage1.msi" Vital="yes">
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />
      </MsiPackage>
      <MsiPackage Compressed="no" SourceFile="MsiPackage2.msi" Vital="no">
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />
      </MsiPackage>
      <MsiPackage Compressed="no" SourceFile="MsiPackage3.msi" Vital="no">
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />
      </MsiPackage>
      <MsiPackage Compressed="no" SourceFile="MsiPackage4.msi" Vital="no">
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />
      </MsiPackage>
    </Chain>

  </Bundle>
</Wix>
